hr {
  height: 1px;
  border: none;
  background-color: black;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

/* navbar */
.menu {
  justify-content: flex-end;
  align-items: center;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  width: 100%;
}
.header-wrapper > .menu > button {
  background-color: white;
  padding: 8px 16px;
  border: 1px solid gray;
  cursor: pointer;
  transition: 0.4s background-color ease-out;
}
.header-wrapper > .menu > button:hover {
  background-color: gainsboro;
}
.logo {
  width: auto;
  height: 50px;
  margin-bottom: 14px;
}

/* title */
body {
  text-align: center;
}
h1::first-letter {
  font-family: lucida calligraphy;
  font-size: 7em;
  color: orangered;
  text-shadow: 5px 8px 9px cyan;
}
.box {
  background-color: yellowgreen;
  width: 80%;
  height: auto;
  margin: auto;
  font-size: 4em;
  text-align: center;
}
.box:hover {
  background-color: yellow;
}

/* footer */
footer p {
  margin-top: 50px;
  text-align: right;
  padding: 20px;
  padding-right: 30px;
}

/* lebar layar kecil */
@media screen and (max-width: 600px) {
  /* navbar */
  .header-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .header-wrapper > .menu {
    width: 100%;
  }
  .header-wrapper > .menu > button {
    width: 100%;
  }
}

/* lebar layar besar */
@media screen and (min-width: 601px) {
  .header-wrapper {
    flex-direction: row;
    align-items: center;
    width: 100%;
    display: flex;
  }
  .header-wrapper > .menu {
    display: flex;
    width: 100%;
  }
}
